<div class="location-container">
    <h1>Select Your Location</h1>
  
    <form (ngSubmit)="submitLocation()">
      <div class="form-group">
        <label for="location">Choose a location:</label>
        <select id="location" [(ngModel)]="selectedLocation" name="location" required>
          <option value="" disabled selected>Select your location</option>
          <option *ngFor="let location of locations" [value]="location">{{ location }}</option>
        </select>
      </div>
      <button type="submit" [disabled]="!selectedLocation">Submit</button>
    </form>
  
    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>
  