<div class="login-container">
    <h2>Login</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input id="username" formControlName="username" type="text" />
        <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched" class="error">
            <small>Username is required.</small>
          </div>
          
         
      </div>
      
      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" formControlName="password" type="password" />
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error">
            <small>Password is required.</small>
          </div>
      </div>
  
      <button type="submit" [disabled]="registerForm.invalid">Login</button>
    </form>
    <p>New user? <a routerLink="/register" class="register-link">Register here</a></p>
  </div>
  